@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <body>
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Pink Floyd<iframe width="560" height="315" src="https://www.youtube.com/embed/cWGE9Gi0bB0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>Shine on!</p>
            <p id="animate"></p>
            <button onclick="myMove()">Click pls</button>
        </div>
    </body>